### Interpreting Results of Logistic Regression

In this notebook (and quizzes), you will be getting some practice with interpreting the coefficients in logistic regression.  Using what you saw in the previous video should be helpful in assisting with this notebook.

The dataset contains four variables: `admit`, `gre`, `gpa`, and `prestige`:

* `admit` is a binary variable. It indicates whether or not a candidate was admitted into UCLA (admit = 1) our not (admit = 0).
* `gre` is the GRE score. GRE stands for Graduate Record Examination.
* `gpa` stands for Grade Point Average.
* `prestige` is the prestige of an applicant alta mater (the school attended before applying), with 1 being the highest (highest prestige) and 4 as the lowest (not prestigious).

To start, let's read in the necessary libraries and data.

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

df = pd.read_csv("./admissions.csv")
df.head()

/opt/conda/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

   admit  gre   gpa  prestige
0      0  380  3.61         3
1      1  660  3.67         3
2      1  800  4.00         1
3      1  640  3.19         4
4      0  520  2.93         4

There are a few different ways you might choose to work with the `prestige` column in this dataset.  For this dataset, we will want to allow for the change from prestige 1 to prestige 2 to allow a different acceptance rate than changing from prestige 3 to prestige 4.

1. With the above idea in place, create the dummy variables needed to change prestige to a categorical variable, rather than quantitative, then answer quiz 1 below.

In [3]:
df[['pre1', 'pre2', 'pre3','pre4']] = pd.get_dummies(df['prestige'])
df.head()

   admit  gre   gpa  prestige  pre1  pre2  pre3  pre4
0      0  380  3.61         3     0     0     1     0
1      1  660  3.67         3     0     0     1     0
2      1  800  4.00         1     1     0     0     0
3      1  640  3.19         4     0     0     0     1
4      0  520  2.93         4     0     0     0     1

In [4]:
df.describe()

,admit,gre,gpa,prestige,pre1,pre2,pre3,pre4
count,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000
mean,0.317380,587.858942,3.392242,2.488665,0.153652,0.372796,0.304786,0.168766
std,0.466044,115.717787,0.380208,0.947083,0.361070,0.484159,0.460898,0.375017
min,0.000000,220.000000,2.260000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,520.000000,3.130000,2.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,580.000000,3.400000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,660.000000,3.670000,3.000000,0.000000,1.000000,1.000000,0.000000
max,1.000000,800.000000,4.000000,4.000000,1.000000,1.000000,1.000000,1.000000

`2.` Now, fit a logistic regression model to predict if an individual is admitted using `gre`, `gpa`, and `prestige` with a baseline of the prestige value of `1`.  Use the results to answer quiz 2 and 3 below.  Don't forget an intercept.

In [13]:
df_new = df
df_new = df_new.drop('prestige', axis =1)
df_new['intercept'] = 1
logit_mod = sm.Logit(df_new['admit'], df_new[['intercept', 'gre','gpa','pre1','pre2','pre3']])
results = logit_mod.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.573854
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      391
Method:                           MLE   Df Model:                            5
Date:                Tue, 01 Oct 2019   Pseudo R-squ.:                 0.08166
Time:                        04:47:45   Log-Likelihood:                -227.82
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.176e-07
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept     -5.4303      1.140     -4.764      0.000      -7.664      -3.196
gre            0.0022      0.001      2.028      0.043    7.44e-05       0.004
gpa            0.7793      0.333      2.344      0.019       0.128       1.431
pre1           1.5534      0.417      3.721      0.000       0.735       2.372
pre2           0.8733      0.367      2.378      0.017       0.153       1.593
pre3           0.2147      0.393      0.547      0.584      -0.555       0.984
==============================================================================
"""

In [15]:
np.exp(1.3387), np.exp(0.6801), np.exp(1.5534), np.exp(0.7793)

(3.8140819745031695,
 1.9740751298733883,
 4.7275164443987272,
 2.1799457692483717)